firstapp/firstapp/__pycache__/
firstapp/db.sqlite3
firstapp/home/__pycache__/
firstapp/mbk/__pycache__/
firstapp/polls/__pycache__/
firstapp/home/migrations/__pycache__/
env/
venv/
.idea/
mbk/migrations/__pycache__/
polls/migrations/__pycache__/
../Pipfile
../Pipfile.lock