 <!-- Side navigation -->
 <div class="wrapper">
  <aside class="sidebar rightfloat width-200 sidebar-dark-primary ms-5 pt-4 elevation-4 d-md-block d-none ">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active bg-secondary rounded-pill">
            <p class="english-p">
                Dashboards
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item persian-p my-2">
              <a href="/info" class="nav-link">
                <p>اطلاعات سیستم</p>
              </a>
            </li>
            <li class="nav-item persian-p my-2">
              <a href="/poll" class="nav-link">
                <p>نظرسنجی ها</p>
              </a>
            </li>
            <li class="nav-item persian-p my-2">
              <a href="/mbk" class="nav-link">
                <p>سوترا ها</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
</div>
