body{
  padding-top: 70px;
}
nav{
  height: 70PX;
}
.logo {
  height: 50px;
}
.rightfloat{
  float: right;
}
.leftfloat{
  float: left;
}
.question-images{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.question-answers{
  height: 250px;
}
.persian-p{
  text-align:right;
}
.english-p{
  text-align: left;
}
.width-200{
  width: 200px;
}
.clear{
  clear: both;
}