body{
  padding-top: 70px;
}
.bg-design{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -100;
}
nav{
  height: 70PX;
}
.logo {
  height: 50px;
}
.rightfloat{
  float: right;
}
.leftfloat{
  float: left;
}
.question-images{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.question-answers{
  height: 250px;
}
.border-design{
  border: 3px solid rgb(72, 218, 255);
}
.text-color{
  color: rgb(155, 240, 255);
}

.persian-p{
  text-align:right;
}
.english-p{
  text-align: left;
}
.width-200{
  width: 200px;
}
.clear{
  clear: both;
}